{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
{{util.flashed_messages(dismissible=True)}}
<div class="container">
  <h1>search site</h1>
  {{ wtf.quick_form(form, button_map={'submit_button': 'primary'}) }}

</div>
{% if data %}


<div class="container">
  <h1>Site</h1>
  <table class="table">
    <thead>
    <th>name</th>
    <th>networks</th>
    <th>email_ips</th>
    <th>sccm_ips</th>
    <th>tp_subnets</th>
    <th>vtp_domain</th>
    <th>vtp_enc_key</th>
    </thead>
    <tr id="{{ data.name }}">
      <td>{{ data.name }}</td>
      <td>{{ data.networks }}</td>
      <td>{{ data.email_ips }}</td>
      <td>{{ data.sccm_ips }}</td>
      <td>{{ data.tp_subnets }}</td>
      <td>{{ data.vtp_domain }}</td>
      <td>{{ data.vtp_enc_key }}</td>
    </tr>
    </tbody>
  </table>

  <h1>VLANs</h1>
  <table class="table">
    <thead>
    <th>vlan</th>
    <th>kind</th>
    <th>description</th>
    </thead>
    {% for vlan in vlans %}
    <tr id="{{ vlan.vlan }}">
      <td>{{ vlan.vlan }}</td>
      <td>{{ vlan.kind }}</td>
      <td>{{ vlan.description }}</td>
    </tr>
    {% endfor %}
  </table>

  <h1>Device Configurations</h1>
  <table class="table">
    <thead>
    <th>name</th>
    <th>model</th>
    <th>mbps</th>
    <th>roles</th>
    <th>categories</th>
    <th>licenses</th>
    </thead>
    {% for config in data.device_configurations %}
    <tr>
      <td>{{ config.name }}</td>
      <td>{{ config.model }}</td>
      <td>{{ config.mbps }}</td>
      <td>{{ config.roles }}</td>
      <td>{{ config.categories }}</td>
      <td>{{ config.licenses }}</td>
    </tr>
    {% endfor %}
    <form autocomplete="off" method="post" >
      {{ form.csrf_token }}
      <div class="entry input-group col-xs-3">
      <tr>
        <td><input class="input-mini" name="name" type="text" placeholder="name" /></td>
        <td><input class="input-mini" name="model" type="integer" placeholder="model" /></td>
        <td><input class="input-mini" name="mbps" type="integer" placeholder="mbps" /></td>
        <td><input class="input-mini" name="roles" type="text" placeholder="roles" /></td>
        <td><input class="input-mini" name="categories" type="integer" placeholder="categories" /></td>
        <td><input class="input-mini" name="licenses" type="text" placeholder="licenses" /><button type="submit" name="add_device_config" class="btn btn-primary">Add</button>
        </td>
      </tr>
      </div>
    </form>
    </tbody>
  </table>

</div>




{% endif %}

{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}
